@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* Shared Styles */
p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}
button{
    width: 177px;
    height: 64px;  
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 84, 115, 1);
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    cursor: pointer;
}
button:hover{
    color: rgba(229, 84, 115, 1);
    background-color: rgba(255, 255, 255, 1);
}

/* Header Section Styles */
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text *{
    margin-bottom: 32px;
    max-width: 531px;
}
.banner .banner-text h1{
    color: rgba(39, 39, 39, 1);
    font-size: 60px;
    font-weight: 800;
}
.banner .banner-img img{
    width: 100%;
    vertical-align: middle;
}